<html>
  <head>
    <title>XSFS / Article</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link href="../../assets/img/icon.svg" rel="icon" type="image/svg+xml" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Share+Tech+Mono"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <br />
      <a href="/"><img class="brand" src="../../assets/img/icon.svg" /></a>
      <br />
